blueprints/irs-blueprint/state-machines/incident-editor.json
{
  "Comment": "Auto-generated form for editing 'incident' data.",
  "version": "1.0",
  "tags": [
    "autoGenerated"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "FindingById",
  "initialCtx": {},
  "States": {
    "FindingById": {
      "Type": "Task",
      "InputPath": "$.key",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "incident"
      },
      "ResultPath": "$.formData",
      "Next": "FormFilling"
    },
    "FormFilling": {
      "Type": "Task",
      "Resource": "module:formFilling",
      "ResourceConfig": {
        "formId": "incidentForm"
      },
      "ResultPath": "$",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "incident"
      },
      "End": true
    }
  }
}
