packages/statebox/test/fixtures/state-machines/calculator-with-input-paths.json
{
  "Comment": "A simple calculator",
  "StartAt": "OperatorChoice",
  "States": {
    "OperatorChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.operator",
          "StringEquals": "+",
          "Next": "Add"
        },
        {
          "Variable": "$.operator",
          "StringEquals": "-",
          "Next": "Subtract"
        }
      ]
    },
    "Add": {
      "Type": "Task",
      "InputPath": "$.numbers",
      "Resource": "module:add",
      "ResultPath" : "$.result",
      "End": true
    },
    "Subtract": {
      "Type": "Task",
      "InputPath": "$.numbers",
      "Resource": "module:subtract",
      "ResultPath" : "$.result",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}