blueprints/demo-blueprint/state-machines/fill-fire-safety-short-audit.json
{
  "Comment": "Fill a Fire Safety Short Audit.",
  "name": "Short Audit",
  "version": "1.0",
  "categories": [
    "fireSafety"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "AwaitingHumanInput",
  "States": {
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "tymly_fireSafetyShortAudit"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "fireSafetyShortAudit"
      },
      "Next": "DeltaReindex"
    },
    "DeltaReindex": {
      "Type": "Task",
      "Resource": "module:deltaReindex",
      "ResourceConfig": {
        "core": "tymly"
      },
      "End": true
    }
  }
}