blueprints/demo-blueprint/state-machines/update-an-expense-claim.json
{
  "Comment": "Update a pre-existing expenses claim.",
  "version": "1.0",
  "name": "Update an expense claim",
  "categories": [
    "expenses"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "LoadClaim",
  "States": {
    "LoadClaim": {
      "Type": "Task",
      "InputPath": "$.claimId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "expenses"
      },
      "ResultPath": "$.formData",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "tymly_claimAnExpense",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "expenses"
      },
      "Next": "DeltaReindex"
    },
    "DeltaReindex": {
      "Type": "Task",
      "Resource": "module:deltaReindex",
      "ResourceConfig": {
        "core": "tymly"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
