blueprints/safe-and-well-blueprint/state-machines/safe-and-well-visit-editor.json
{
  "Comment": "Auto-generated form for editing 'safeAndWellVisit' data.",
  "version": "1.0",
  "tags": [
    "autoGenerated"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "FindingById",
  "initialCtx": {},
  "States": {
    "FindingById": {
      "Type": "Task",
      "ResourceConfig": {
        "modelId": "safeAndWellVisit"
      },
      "InputPath": "$.key",
      "Resource": "module:findingById",
      "ResultPath": "$.formData",
      "Next": "FormFilling"
    },
    "FormFilling": {
      "Type": "Task",
      "Resource": "module:formFilling",
      "ResourceConfig": {
        "formId": "safeAndWellVisitForm"
      },
      "ResultPath": "$",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "safeAndWellVisit"
      },
      "InputPath": "$.formData",
      "End": true
    }
  }
}
