plugins/flobot-forms-plugin/test/fixtures/blueprints/forms/state-machines/simple-form.json
{
  "Comment": "A state-machine to help illustrate a user completing a simple form",
  "version": "1.0",
  "instigators": [
    "user"
  ],
  "StartAt": "FindingOne",
  "States": {
    "FindingOne": {
      "Type": "Task",
      "InputPath": "$.key",
      "Resource": "module:findingOne",
      "ResourceConfig": {
        "modelId": "simpleForm",
        "filter": {
          "where": {
            "email": {
              "equals": "$.email"
            }
          }
        }
      },
      "ResultPath": "$.commentData",
      "Next": "FormFilling"
    },
    "FormFilling": {
      "Type": "Task",
      "Resource": "module:formFilling",
      "ResourceConfig": {
        "formId": "simpleForm"
      },
      "ResultPath": "$.commentData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.commentData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "simpleForm"
      },
      "End": true
    }
  }
}
